table{
  border-collapse:collapse ;
  border: 1px solid black;
  }
th,td{
  border: 1px solid black;
  text-align:left;
}
tr:nth-child(odd){
  background-color:cyan;
}
tr, td :hover{
background-color:lightseagreen;
}
button{
  width:40%;
}
.parentStyle{
  width:49%;
  text-align:center;
  margin-left: 300px;
}
